
.titulo {
    text-align: center;
    color: #333;
}

.contenedor-principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pedido {
    background-color: beige;
    color: #8e64b8;
    box-shadow: 10px 10px 20px #333;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: calc(100% / 3 - 20px);
    box-sizing: border-box;
    cursor: pointer;
}

.mes {
    font-size: 1.2em;
    color: #333;
}

.detalle {
    display: none;
    color: #666;
    margin:5px 0;
}

.contenedor {
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;
}

.meses {
    flex: 2;
    min-width: 300px;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
}

.grafica {
    flex: 1;
    width: 900px;
    height: 350px;
    margin-left: 20px;
    margin-right: 100px;
}

canvas {
    width: 100% !important;
    height: 100% !important;
}
