body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

/* DIVS DEL PRINCIPIO */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espacio entre los divs */
    flex-wrap: nowrap; /* Para que estén en una sola línea */
    height: 55vh; /* Para centrar verticalmente */
}

/*Pendientes*/
.boxP, .boxEP, .boxT, .boxPG {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100px;
    background-color: beige;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    box-shadow: 3px 4px 5px;
    border: none;
    transition: transform 0.3s, box-shadow 0.3s;
}

.boxP:hover, .boxEP:hover, .boxT:hover, .boxPG:hover {
    transform: scale(1.1);
    box-shadow: 5px 6px 7px;
}

.boxP { color: #8e64b8; }
.boxEP { color: #145fc8; }
.boxT { color: #b0a420; }
.boxPG { color: #55b000; }

.boxP:hover { background-color: #f0e6ff; }
.boxEP:hover { background-color: #e6f0ff; }
.boxT:hover { background-color: #fffbe6; }
.boxPG:hover { background-color: #e6ffe6; }

.allPedido {
    font-family: 'Roboto', sans-serif;
}

.contenedor-principal {
    width: 98%;
    gap: 10px;
    justify-content: center;
    padding: 10px; 
    height: 100vh; /* Altura completa de la ventana */
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten en varias filas */
}

.izquierda, .derecha {
    float: left; 
    border: solid 2px #8e64b8;
    padding: 10px;
    overflow-y: auto; 
    height: 100%;
    box-shadow: 10px 10px 20px #333;
}

.izquierda { width: 55%; }
.derecha { width: 41.8%; display: flex; flex-direction: column; }

.abajo {
    overflow-y: auto;
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
}

.abajo-izquierda, .abajo-derecha {
    float: none; /* Elimina el float */
    width: 48%; /* Ajusta el ancho relativo */
    box-shadow: 10px 10px 20px #333;
}

.dentroCards {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #a8329b;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: beige;
    color: #8e64b8;
    box-shadow: 10px 10px 20px #333;
    margin: 10px; /* Espacio entre las tarjetas */
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease; /* Transición suave */
}

.card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transform: scale(1.03);
}

.pedido {
    font-weight: bold;
    margin-bottom: 5px;
    cursor: pointer;
}

.linea {
    margin-left: 10px;
    background-color: bisque;
}

h1 {
    text-align: center;
}




.botones {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
    height: 0;  
    transition: height 0.3s ease;
    overflow: hidden;  
    visibility: hidden;  
}

.card:hover .botones {
    height: auto; 
    visibility: visible;  
}

.botonR {
    color: #fff;
    background-color: rgb(49, 78, 205);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}
.botonE {
    color: #fff;
    background-color: rgb(254, 0, 0);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}
.botonT {
    color: #fff;
    background-color: rgb(213, 207, 28);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}
.botonP {
    color: #fff;
    background-color: rgb(22, 102, 22);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}
.boton:hover {
    background-color: #a8329b;
}

.realizado, .pagado, .siendoRealizado {
    color: white;
    padding: 10px;
    margin-top: 10px;
}

.realizado { background-color: rgb(213, 207, 28); }
.pagado { background-color: rgb(22, 102, 22); }
.siendoRealizado { background-color: rgb(49, 78, 205); }

.detalles {
    display: none;
}

/* menu vertical */
.contenedor {
    display: flex;
}

.menu-vertical {
    width: 200px;
    padding: 10px;
}

.contenedor-principal {
    flex-grow: 1;
    padding: 10px;
}

.menu-vertical a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}

