body{
    width: 98.9%;
}
h1, h2 {
    color: #333;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 30px 30px 30px 30px rgba(0, 0, 0, 0.1);
}
ul {
    list-style: disc;
    padding-left: 20px;
}
.reminder {
    background-color: #f5f5dc;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}